.ant-pagination .ant-pagination-prev .ant-pagination-item-link, .ant-pagination .ant-pagination-next .ant-pagination-item-link {
    background-color: #211F25;
}

.ant-pagination .ant-pagination-prev button, .ant-pagination .ant-pagination-next button {
    color: rgb(255, 255, 255);
}

.ant-pagination .ant-pagination-disabled .ant-pagination-item-link, .ant-pagination .ant-pagination-disabled:hover .ant-pagination-item-link {
    color: #ffffff61;
    cursor: not-allowed;
}