:root {
    --index: calc(1vw + 1vh);
}


.useraccount {
    padding: calc(var(--index) * 1) calc(var(--index) * 0.5);
    background: #030107;
    /* height: 100vh; */
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--index) * 1);
}



.user {
    padding: calc(var(--index) * 1);
    margin: 0 calc(var(--index) * 2);
    border-radius: calc(var(--index) * 1);
    background-color: #151515;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
}

.user p {
    margin-bottom: 0;
}

.topic {
    text-align: center;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 2);
}

.topic h2{
    margin-bottom: 0;
}

.topic_back {
    display: flex;
    justify-content: center;
}

.userinfo {
    padding: calc(var(--index) * 1);
    margin: calc(var(--index) * 1) calc(var(--index) * 2);
    border-radius: calc(var(--index) * 1);
    background-color: #151515;
    color: white;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--index) * 1);
    
}

.userinfo p {
    margin-bottom: 0;
}
