.seller_thing_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


/* SellerThingItem.css */

.card_list {
    width: 48%;
    padding: calc(var(--index) * 1) 0;
}

.seller_card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: calc(var(--index) * 1);
    cursor: pointer;
    background-color: #211F25;
  }

  .seller_card_image_wrapper {
    width: 100%;
  }
  
  .seller_card_image {
    width: 100%;
    height: calc(var(--index) * 18);
    border-top-left-radius: calc(var(--index) * 1);
    border-top-right-radius: calc(var(--index) * 1);
    object-fit: cover; 
    object-position: center; 
  }
  
  .seller_card_content {
    padding: 0 calc(var(--index) * 1) calc(var(--index) * 1);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index)* 1);
  }

  .brand_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 calc(var(--index) * 1) calc(var(--index) * 1);
    gap: calc(var(--index) * 0.7);
    border-bottom: 1px solid #d2d2d266;
  }

  .seller_card_brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .seller_brand_icon {
    width: calc(var(--index) * 1.6); 
    height: auto;
  }
  
  .seller_card_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .seller_card_header span {
    display: flex;
    align-items: center;
    gap: calc(var(--index) * 0.5);
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: calc(var(--index) * 1.4);
  }

  .moderation_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .moderation_status span {
    font-size: calc(var(--index) * 1.2);
    margin-inline-end: 0;
  }
  
  .action_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: calc(var(--index) * 1.2);
    gap: calc(var(--index) * 1);
    /* padding: calc(var(--index) * 1) 0; */
  }

  .edit_button {
    background-color: #ffffff21;
    color: white;
    border: none;
    padding: calc(var(--index)* 0.2) calc(var(--index)* 1);
    border-radius: calc(var(--index)* 0.5);
    width: 50%;
  }

  .delete_button {
    background-color: #ff030321;
    color: white;
    border: none;
    padding: calc(var(--index)* 0.2) calc(var(--index)* 1);
    border-radius: calc(var(--index)* 0.5);
    width: 50%;
  }

  
  
  