:root {
  --index: calc(1vw + 1vh);
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.accordion {
  cursor: pointer;
  padding: calc(var(--index) * 2);
  --bs-accordion-bg: #76767b00;
  --bs-accordion-btn-color: #d8d8d8;
  --bs-accordion-border-color: #9c0ff38c;
  --bs-accordion-btn-focus-border-color: #2d0339;
  color: #fff;
  border-radius: calc(var(--index) * 1);
  width: 100%;
}

.accordion-item {
  border-style: solid;
  cursor: pointer;
  border-width: 1px;
  margin-right: 0;
}

.accordion-item:first-of-type {
  border-top-left-radius: calc(var(--index)* 1);
  border-top-right-radius: calc(var(--index)* 1);
}

.accordion-item:last-of-type {
  border-bottom-left-radius: calc(var(--index)* 1);
  border-bottom-right-radius: calc(var(--index)* 1);
}

.accordion-header {
  border-radius: 5px;
}

.accordion-body {
  background-color: #fff; /* Цвет фона тела аккордеона */
  color: #000; /* Цвет текста тела аккордеона */
  font-size: calc(var(--index) * 1.2);
}

.accordion-button:not(.collapsed) {
  background: linear-gradient(150deg, #ac57ed, #6b3ce6);
  color: #fff;
}


.acc_item {
  font-size: calc(var(--index) * 1.2);
}