.address {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: var(--main-gap);
  }

  .copyable_address {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(150deg, #272525d4, #403d4561, #423f3fd4);
    border: 0;
    color: #fff;
    border-radius: var(--small-border-radius);
    padding: var(--main-padding);
    font-size: var(--smallest-font-size) !important;
  }