.loading_indicator {
    display: flex;
    width: 100vw;
    height: 95vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pin {
    position: absolute;
    top: 0;
    left: 0;
}

.loading_indicator_img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.path {
    position: absolute;
}