.orderTags {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    align-items: end;
    width: 100%;
}


.orderTotal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--main-gap);
    width: 100%;
}

.orderTotalContainer {
    display: flex;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    background: var(--card-background);
}
