.auth {
    padding: var(--main-padding);
    background-color: #030107;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    overflow: hidden;
}

.auth_form {
    background: var(--card-background);
    color: white;
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: var(--main-border-radius);
    gap: var(--main-gap);
}

.auth_title {
    color: white;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 0;
}

.auth_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--main-gap);
    width: 100%;
}

.auth_row_link {
    color: white;
    font-size: var(--medium-font-size);
}

.auth_row_button {  
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--medium-font-size);
}

