.seller_info {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    align-items: flex-start;
    font-size: var(--main-font-size);
}

.seller_info_item {
    display: flex;
    justify-content: space-between;
    padding: 0 0 var(--main-padding) ;
    width: 100%;
    border-bottom: 1px solid var(--line-color);
}

.seller_info span {
    display: flex; 
    gap: var(--small-gap);
    align-items: center;
    flex-wrap: wrap;
}

.seller_i {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.seller_mail_id {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.seller_rating {
    display: flex;
    gap: var(--small-gap);
    align-items: center;
    font-size: var(--medium-font-size);
}


.menu_links {
    display: flex;
    gap: var(--small-gap);
    align-items: center;
    width: 100%;
}

.menu_link {
    background: var(--action-button-color);
    padding: var(--medium-padding);
    color: var(--color-text);
    border: none;
    border-radius: var(--small-border-radius);
    font-size: var(--main-font-size);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
}