.user {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    justify-content: center;
    align-items: center;
    font-size: var(--main-font-size);
}

.user_info span {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: 0 var(--medium-padding) var(--medium-padding);
}

.user_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    gap: var(--main-gap);
}

.user_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--small-margin);
    gap: var(--main-gap);
    flex-wrap: wrap;
}