.search_section {
    display: flex;
    color: var(--color-text);
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
}

.src_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    background: var(--action-button-color);
    border: 0;
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.all_users {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 1);
    margin: calc(var(--index) * 1) 0;
}

.user {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    justify-content: center;
    align-items: center;
    font-size: var(--main-font-size);
}

.user_info span {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: var(--medium-padding);
}

.user_info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.user_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: var(--main-padding) 0;
    gap: var(--main-gap);
    flex-wrap: wrap;
}

.user_actions_buttons {
    display: flex;
    gap: var(--main-gap);
}