:root {
  --index: calc(1vw + 1vh);
  --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.product-card {
    padding: 10px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: calc(var(--index) * 15);
    border-radius: calc(var(--index) * 0.7);
    object-fit: cover; /* Масштабирует изображение, заполняя контейнер, сохраняя пропорции */
    object-position: center; /* Центрирует изображение в контейнере */
  }
  
  .product-card p {
    margin-top: 10px;
    font-size: 14px;
    color: white;
  }

  .slider {
    overflow: hidden;
    margin: calc(var(--index) * 3) 0 calc(var(--index) * 2);
  }