.thing_list {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--index) * 0.6);
    width: 100%;
}

.thing_item {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.thing_item_button {
    display: flex;
    flex-direction: column;
    background: #030107;
    gap: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.6);
    border-radius: calc(var(--index) * 0.7);
    height: 100%;
}

.thing_item_button button {
    background: linear-gradient(150deg, #110f17, #707070d4);
    border: 0;
    color: #fff;
    border-radius: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.7);
}