.admin_buttons {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: start;
    align-items: start;
    gap: var(--main-gap);
}

.admin_buttons button {
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #110f17, #707070d4);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
    font-size: var(--main-font-size);
}

.search_section {
    display: flex;
    color: var(--color-text);
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    background: linear-gradient(to bottom, #494b4c, #030107);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
}

.src_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(150deg, #110f17, #423f3fd4);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.container button:hover {
    background-color: #D90429;
    border-color: #003049;
}

.orders {
    background: var(--card-background);
    color: var(--color-text);
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--main-gap);
    justify-content: center;
    align-items: center;
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
}

.order_item {
    display: flex;
    color: var(--color-text);
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #4805ca, #030107);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    border: 0;
}

.order_details {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #aaa9a9b5;
    box-shadow: 
        0 0 2px black, 
        0 0 5px #000000a3, 
        0 0 10px #000000a3;
}

.order_details span {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: var(--medium-padding);
}

.order_details span:last-child {
    border-bottom: none;
}

.order_details span:first-child {
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    justify-content: center;
    border-bottom: none;
}

.order_details p {
    margin: 0;
}

.name_price {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    padding: var(--medium-padding);
    text-decoration: underline;
}

.confirm_reject {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.confirm {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background: linear-gradient(150deg, #144609,  #0afb04);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.reject {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    background: linear-gradient(150deg, #ff0101d4, #481414);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.returns {
    background: var(--card-background);
    color: var(--color-text);
    padding: var(--medium-big-padding);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--main-gap);
    justify-content: center;
    align-items: center;
    border-radius: var(--main-border-radius);
    font-size: var(--main-font-size);
}

.return_item {
    display: flex;
    color: var(--color-text);
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #c20606, #030107);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    border: 0;
}

.return_details {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    justify-content: center;
    align-items: start;
    border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #aaa9a9b5;
    box-shadow: 
        0 0 2px black, 
        0 0 5px #000000a3, 
        0 0 10px #000000a3;
}

.return_details span {
    display: flex; 
    width: 100%; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: var(--medium-padding);
}

.return_details span:last-child {
    border-bottom: none;
}

.return_details span:first-child {
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
    justify-content: center;
    border-bottom: none;
}

.return_details p {
    margin: 0;
}


.exhange_item {
    display: flex;
    color: var(--color-text);
    width: 100%;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0672c2, #030107);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    border: 0;
}

.doplata {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background: linear-gradient(150deg, #110f17, #423f3fd4);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.vozvrat {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background: linear-gradient(150deg, #110f17, #423f3fd4);
    border: 0;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}



.pending_models {
    display: flex;
    width: 100%;
    gap: var(--main-gap);
    flex-direction: column;
}

.card_list {
    width: 48%;
    padding: var(--main-padding) 0;
}

.seller_card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    background: var(--card-background);
  }

  .seller_card_image_wrapper {
    width: 100%;
  }
  
  .seller_card_image {
    width: 100%;
    height: calc(var(--index) * 18);
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    object-fit: cover; 
    object-position: center; 
  }
  
  .seller_card_content {
    padding: 0 var(--main-padding) var(--main-padding);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap);
  }

  .brand_name {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 var(--main-padding) var(--main-padding);
    gap: var(--medium-gap);
    border-bottom: 1px solid var(--line-color);
  }

  .seller_card_brands {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .seller_brand_icon {
    width: var(--card-icon-size); 
    height: auto;
  }
  
  .seller_card_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .seller_card_header span {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    color: var(--color-text);
    text-decoration: none;
    font-weight: var(--medium-font-weight);
    font-size: var(--medium-font-size);
  }

  .moderation_status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .moderation_status span {
    font-size: var(--main-font-size);
    margin-inline-end: 0;
  }
  
  .action_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--main-font-size);
    gap: var(--main-gap);
  }

  .approve_button {
    background-color: #ffffff21;
    color: var(--color-text);
    border: none;
    padding: var(--smallest-padding) var(--main-padding);
    border-radius: var(--smallest-border-radius);
    width: 50%;
  }

  .reject_button {
    background-color: #ff030321;
    color: var(--color-text);
    border: none;
    padding: var(--smallest-padding) var(--main-padding);
    border-radius: var(--smallest-border-radius);
    width: 50%;
  }