:root {
    --index: calc(1vw + 1vh);
  }

.card_list {
    width: 50%;
}

@media (max-width: 600px) {
    .card_list {
        width: 50%;
        padding: calc(var(--index) * 0.5);
    }
  }

.card {
    width: 100%;
    height: 100%;
    cursor: pointer; 
    /* padding: calc(var(--index)* 0.8);  */
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: calc(var(--index) * 1);
    cursor: pointer;
    border-width: 1px;
    background: linear-gradient(to right bottom, #2d252f, #211F25, #211923);
    
}

.card_img {
    width: 100%;
    height: calc(var(--index) * 18);
    border-top-left-radius: calc(var(--index) * 1);
    border-top-right-radius: calc(var(--index) * 1);
    object-fit: cover; 
    object-position: center; 
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index) * 1);
    font-size: calc(var(--index) * 1); 
}

.carousel-item {
    transition: transform .7s cubic-bezier(0.13, 0.98, 0.63, 0.99)
}

.brand-icon {
    width: calc(var(--index) * 1.5); 
    height: auto; 
}

.descript {
    margin-top: calc(var(--index)* 0);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(var(--index)* 2);
    flex-wrap: wrap;
    padding: calc(var(--index)* 1.2) calc(var(--index)* 0.7) calc(var(--index)* 0.5) calc(var(--index)* 0.7);
}

.thing-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 calc(var(--index) * 0.6) calc(var(--index) * 0.6);
    gap: calc(var(--index) * 0.6);
    width: 90%;
    color: white;
}

.thingName {
    font-size: calc(var(--index) * 1.7);
}

.thing-info {
    font-size: calc(var(--index) * 1);
    color: #b3b2b2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index)* 0.6);
    border-bottom: 1px solid #d2d2d266;
    border-top: 1px solid #d2d2d266;
    padding: calc(var(--index)* 0.8) 0;
}

.thing-price {
    font-size: calc(var(--index) * 1.5);
}

.thing-info div b {
    font-weight: 500;
}

