.card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: var(--main-border-radius);
    background: var(--card-background);
}

.card_img {
    width: 100%;
    height: calc(var(--index) * 18);
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
    object-fit: cover; 
    object-position: center; 
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--main-gap); 
}

.carousel-item {
    transition: transform .7s cubic-bezier(0.13, 0.98, 0.63, 0.99)
}

.brand-icon {
    width: var(--card-icon-size); 
    height: auto; 
}

.descript {
    margin-top: calc(var(--index)* 0);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: calc(var(--index)* 2);
    flex-wrap: wrap;
    padding: calc(var(--index)* 1.2) var(--main-padding) var(--small-padding);
}

.thing-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 var(--medium-padding) var(--medium-padding);
    gap: var(--medium-gap);
    width: 90%;
    color: var(--color-text);
}

.thingName {
    font-size: var(--card-name-font-size);
}

.thing-info {
    font-size: var(--small-font-size);
    color: #b3b2b2;
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    border-bottom: 1px solid #d2d2d266;
    border-top: 1px solid #d2d2d266;
    padding: var(--medium-padding) 0;
}

.thing-price {
    font-size: var(--card-price-font-size);
}

.thing-info div b {
    font-weight: var(--main-font-weight);
}

