
.story-slider-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
    flex-direction: column;
    
  }

  .close-stories {
    background: linear-gradient(to bottom, #34343400, #000000eb, black);
    border: none;
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    z-index: 1000;
    position: absolute;
    bottom: 0;
    height: 15vh;
  }
  
  .close-stories-button {
    background: none;
    border: none;
    color: var(--color-text);
    font-size: calc(var(--index) * 3);
    cursor: pointer;
    margin: var(--main-margin);
  }
  
  /* Стили для кружков */
  .story-circle-container {
    display: flex;
    gap: calc(var(--index) * 1.6);
    overflow-x: auto;
  }
  
  .story-circle {
    flex: 0 0 auto;
    width: calc(var(--index)* 5.5);
    height: calc(var(--index)* 5.5);
    border: 1px solid #6b3ce6;
    padding: 3px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
  }
  
  .circle-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  

  .story-link-overlay {
    position: absolute;
    bottom: 20vh;
    left: 0;
    width: 100%;
    z-index: 1002;
    color: white;
    display: flex;
    justify-content: center;
  }

  .story-link-button {
    position: absolute;
    bottom: 15vh; /* Настройте по необходимости */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    padding: calc(var(--index)* 2) calc(var(--index)* 4);
    font-size: calc(var(--index)* 1.5);
    font-weight: 600;
    border: none;
    cursor: pointer;
  }
  
  .story-link-button:hover {
    background-color: #0056b3;
  }

.main-container {
    max-width: 100%;
    overflow: hidden; 
    margin: 0 auto; 
    padding: var(--main-padding);
  }
  
  .story-circle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; 
    scrollbar-width: none; 
  }
  
  .story-circle-container::-webkit-scrollbar {
    display: none;
  }