
.navbar {
    width: 100%;
    padding: var(--main-padding) var(--main-padding) 0;
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.navbar-brand img {
    width: calc(var(--index) * 11);
}

.navbar-brand {
    margin-right: 0;
    padding: 0 !important;
}

.menu {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
}

.navbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: var(--caption-font-size);
    border: 1px solid white;
    border-radius: var(--small-border-radius);
    padding: var(--medium-padding) var(--main-padding);
    background-color: transparent;
}

