:root {
    --index: calc(1vw + 1vh);
  }

.card_list {
    width: 50%;
}

@media (max-width: 600px) {
    .card_list {
        width: 50%;
        padding: calc(var(--index) * 0.6);
    }
  }

.card {
    width: 100%;
    height: 100%;
    cursor: pointer; 
    padding: calc(var(--index) * 0.7); 
    display: flex;
    align-items: center;
    border-style: solid;
    /* border-color: #fedada; */
    border-radius: calc(var(--index) * 0.7);
    cursor: pointer;
    border-width: 1px;
    background-color: #111111c4;
}

.card_img {
    width: 100%;
    height: calc(var(--index) * 18);
    border-radius: calc(var(--index) * 0.7);
    object-fit: cover; /* Масштабирует изображение, заполняя контейнер, сохраняя пропорции */
    object-position: center; /* Центрирует изображение в контейнере */
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index) * 1);
    
    font-size: calc(var(--index) * 1); /* Расстояние между иконкой и текстом */
}

.carousel-item {
    transition: transform .7s cubic-bezier(0.13, 0.98, 0.63, 0.99)

}


.brand-icon {
    width: calc(var(--index) * 2); /* Ширина иконки */
    height: auto; /* Высота иконки */
}

.descript {
    margin-top: calc(var(--index) * 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index) * 1.2);
    flex-wrap: wrap;
    
    padding: calc(var(--index) * 1) calc(var(--index) * 0.7) 0 calc(var(--index) * 0.7);
}

.thing-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: calc(var(--index) * 0.6);
    gap: calc(var(--index) * 0.6);
    width: 80%;
    color: white;
}

.thingName {
    font-size: calc(var(--index) * 2);
}

.thing-info {
    font-size: calc(var(--index) * 1.2);
    color: #b3b2b2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 0.6);
    border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #7f7e7e66;
    padding: calc(var(--index) * 0.6) 0;
}

.thing-price {
    font-weight: 500;
}

.thing-info div b {
    font-weight: 500;
}