:root {
    --index: calc(1vw + 1vh);
  }

.card_list {
    width: 50%;
}

@media (max-width: 600px) {
    .card_list {
        width: 50%;
        padding: calc(var(--index) * 0.5);
    }
  }

.card {
    width: 100%;
    cursor: pointer; 
    padding: calc(var(--index) * 0.7); 
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: #fedada;
    border-radius: calc(var(--index) * 0.7);
    
    cursor: pointer;
    border-width: 1px;
}

.card_img {
    width: 100%;
    height: calc(var(--index) * 18);
    border-radius: calc(var(--index) * 0.7);
    object-fit: cover; /* Масштабирует изображение, заполняя контейнер, сохраняя пропорции */
    object-position: center; /* Центрирует изображение в контейнере */
}

.brand-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--index) * 1);
    
    font-size: calc(var(--index) * 1); /* Расстояние между иконкой и текстом */
}


.brand-icon {
    width: calc(var(--index) * 2); /* Ширина иконки */
    height: auto; /* Высота иконки */
}

.descript {
    margin-top: calc(var(--index) * 0);
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(var(--index) * 1);
    flex-wrap: wrap;
    
    padding: calc(var(--index) * 0.7) calc(var(--index) * 0.7) 0 calc(var(--index) * 0.7);
}

.thing-all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: calc(var(--index) * 0.6);
    gap: calc(var(--index) * 0.6);
    max-width: 80%;
}

.thingName {
    font-size: calc(var(--index) * 2);
}

.thing-info {
    font-size: calc(var(--index) * 1.2);
    color: #676767;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 0.6);
}

.thing-price {
    font-weight: 500;
}

.thing-info div b {
    font-weight: 500;
}