.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(var(--index)* 0.1);
    background: linear-gradient(to left, #6b3ce6, #ac57ed, #25032C);
    border-radius: var(--main-border-radius);
}

.filters-container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    padding: var(--small-padding);
    border-radius: var(--main-border-radius);
    color: var(--color-text);
    background: var(--menu-background);
}

.filters-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: var(--small-padding);
}

.filters-button {
    padding: var(--medium-padding);
    background: linear-gradient(150deg, #ac57ed, #6b3ce6);
    color: var(--color-text);
    border-radius: var(--small-border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--main-font-size);
    height: fit-content;
    border: none;
    width: 100%;
    
}

.reset-filters-button {
    background: transparent;
    color: var(--color-text);
    border-radius: var(--main-border-radius);
    cursor: pointer;
    border: none;
    font-size: var(--main-font-size);
    width: 100%;
    text-decoration: underline;
    margin-top: var(--small-margin);
}

.filters-button:hover {
    background: #ac57ed;
}

.sidebar .ant-drawer .ant-drawer-header{
    padding: var(--main-padding);
}
