.user {
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
}

.user_info {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
    justify-content: space-between;
    font-size: var(--main-font-size);
    font-weight: 500;
    width: 100%;
    padding: 0 0 var(--main-padding);
    border-bottom: 1px solid var(--line-color);
}

.user_role {
    display: flex;
    gap: var(--small-gap);
    align-items: center;
    font-size: var(--main-font-size);
}

.user_orders {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    font-size: var(--main-font-size);
}

.basket {
    display: flex;
    background: var(--card-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    flex-direction: column;
    gap: var(--small-gap);
}

.basket_item {
    display: flex;
    align-items: center;
    width: 100%;
}

.basket_item span {
    font-weight: 500;
    width: 40%;
    justify-content: center;
    text-align: center;
}

.basket_item img {
    width: 40%;
    height: calc(var(--index) * 10);
    object-fit: cover;
    border-radius: var(--small-border-radius);
}

