.orderSeller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.productCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--index) * 18);
    border-radius: var(--main-border-radius);
    background: var(--card-background);
    padding: var(--main-padding);
    gap: var(--main-gap);
    cursor: pointer;
}

.productInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    /* padding: 0 var(--main-padding) 0 var(--big-padding); */
}

.productImage {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--main-border-radius);
}

.promoCodeContainer {
    display: flex;
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    background: var(--menu-background);
}

.promoCodeInput {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--small-gap);
    width: 100%;
}

.promoCodesList {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    width: 100%;
}

.promoInfo {
    display: flex;
    gap: var(--small-gap);
}

.discountInfo {
    display: flex;
    gap: var(--small-gap);
}


/* В OrderComponents.module.css */
.fullscreenIframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    transition: all 0.3s;
}

.closeButton:hover {
    background: rgba(0, 0, 0, 0.2);
}

.closeButton svg {
    font-size: 20px;
    color: #000;
}

.iframeContent {
    width: 100%;
    height: 100%;
    border: none;
}


.invoiceCard:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.invoiceInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.invoiceHeader {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
}

.invoiceDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.invoiceAmount {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
}

.invoiceDates {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: right;
}

.continuePaymentButton {
    margin-left: 20px;
}