.topic_back {
    display: flex;
    width: fit-content;
    justify-content: left;
    align-items: center;
    gap: var(--main-gap);
    color: var(--color-text);
}

.topic_back h2 {
    margin-bottom: 0;
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

