.thing_list {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--index) * 0.6);
    width: 100%;
}

.thing_item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.thing_item_button {
    display: flex;
    flex-direction: column;
    background: #030107;
    gap: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.6);
    border-radius: calc(var(--index) * 0.7);
    height: 100%;
}

.thing_item_button button {
    background: linear-gradient(150deg, #110f17, #707070d4);
    border: 0;
    color: #fff;
    border-radius: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.7);
}

.thing_item_button .button:hover {
    background: #110f17;
    border: 1px solid #fff;
}

.thing_item_skeleton {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: calc(var(--index)* 0.5);
  }
  
.skeleton_image {
    border-radius: calc(var(--index)* 1);
    background-color: #111111de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: calc(var(--index)* 1);
    gap: calc(var(--index)* 1);
}