.main_shop {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    align-items: center;
    min-height: fit-content;
    overflow: hidden;
    min-height: 100vh;
    background-color: #030107;
}

.pin-spacer {
    display: flex;
}

.shop_top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: linear-gradient(to top, #0c0120, #030107);
}

.filters {
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 0 calc(var(--index)* 1);
    gap: calc(var(--index)* 1);
    justify-content: center;
    margin: calc(var(--index)* 0.5) 0 0;
}


:where(.css-dev-only-do-not-override-qnu6hi).ant-float-btn {
    background-color: #111111fc;
    border-top: 1px solid #aaa9a9b5;
    border-bottom: 1px solid #7f7e7e66;
    color: white;
}


.mainlist {
    flex: 1;
    width: 100%;
    justify-content: center;
    background: linear-gradient(to bottom, #0c0120, #030107);
}

