


.main-shop {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    align-items: center;
    min-height: fit-content;
    overflow: hidden;
    min-height: 100vh;
    background: linear-gradient(to bottom, #030107, #130035, #030107);
}

.pin-spacer {
    display: flex;
}

.filters {
    width: 100%;
    padding: 0 calc(var(--index) * 10);
    height: calc(var(--index) * 10);
    margin: 0 calc(var(--index) * 1); /* Центрируем блок относительно родителя */
    /* background-color: black; */
    z-index: 10;
    /* border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #7f7e7e66; */
}



.filters.pinned {
    position: relative;
    top: 0;
    
    transform: translateX(-50%); /* Центрируем блок по горизонтали */
}

.mainlist {
    flex: 1;
    width: 100%;
    /* padding: calc(var(--index) * 1); */
    justify-content: center;
    margin-top: calc(var(--index) * 1.5);
}