.backbutton {
    color: white;
    position: absolute;
    left: calc(var(--index) * 1.5);
    font-size: calc(var(--index) * 3);
    padding: 0;
}

.backbutton:hover {
    color: #515151 !important;
}
