:root {
    --index: calc(1vw + 1vh);
  }

.basket_page {
    padding: 20px;
    background-color: #030107;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: calc(var(--index) * 2);
    min-height: 100vh;
  }

  .basket_page h2 {
    color: white;
  }

  .topic_back {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .topic_back h2 {
    font-size: calc(var(--index) * 3);
    /* margin: 0;s */
  }
  
  .basket_empty {
    text-align: center;
    font-size: 18px;
    color: white;
    background: linear-gradient(to bottom, #030107, #130035, #030107);
    min-height: 100vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .basket_items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .basket_item {
    display: flex;

    align-items: center;
    gap: calc(var(--index) * 0.5);
    padding: calc(var(--index) * 0.5);
    border-radius: calc(var(--index) * 1);
    cursor: pointer;
    background: linear-gradient(280deg, #c20606d4, #110f17);
  }

  .item_inner {
    background-color: #111111c4;
    color: white;
    padding: calc(var(--index) * 1.5);
    display: flex;
    gap: 5%;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    border-radius: calc(var(--index) * 1);
    border-left: 1px solid #605e5e66;
    border-right: 1px solid #ad5b5b5e;
    box-shadow: 
        0 0 2px black, 
        0 0 5px #000000a3, 
        0 0 10px #000000a3;
  }

  .items_name_price {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: calc(var(--index) * 0.7);
  }

  .thing_info {
    font-size: calc(var(--index) * 1.2);
    color: #b3b2b2;
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 0.6);
    border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #7f7e7e66;
    padding: calc(var(--index) * 1);
}

  .info_brand {
    display: flex;
    flex: 1;
    text-align: center;
  }

  .brands_basket {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: calc(var(--index) * 0);
    flex-wrap: wrap;
}

.brands_icons_basket {
    width: calc(var(--index) * 1.5); /* Ширина иконки */
    height: auto; /* Высота иконки */
}

.img_brands {
  display: flex;
  flex-direction: column;
  gap: calc(var(--index) * 0.7);
  width: 40%;
}
  
  .basket_item_img {
    width: 100%;
    height: calc(var(--index) * 17);
    object-fit: cover;
    border-radius: calc(var(--index) * 0.7);
  }
  
  .basket_item_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 55%;
  }
  
  .basket_item_name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .basket_item_price {
    font-size: 16px;
    color: white;
  }
  
  .basket_item_remove {
    font-size: calc(var(--index) * 2);
    font-weight: 600;
  }
  
  .basket_item_remove:hover {
    background-color: #ff7875;
  }

  .promo_code_section {
    display: flex;
    color: white;
    width: 100%;
    flex-direction: column;
    gap: calc(var(--index) * 0.5);
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #0672c2, #030107);
    padding: calc(var(--index) * 0.6);
    border-radius: calc(var(--index) * 1);
  }

  .promocodes {
    background-color: #111111c4;
    color: white;
    padding: calc(var(--index) * 1.5);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: calc(var(--index) * 1);
    justify-content: center;
    /* align-items: center; */
    border-radius: calc(var(--index) * 1);
    border-bottom: 1px solid #7f7e7e66;
    border-top: 1px solid #aaa9a9b5;
    box-shadow: 
        0 0 2px black, 
        0 0 5px #000000a3, 
        0 0 10px #000000a3;
  }
  
  .apply_promo_input {
    border: 0;
    border-radius: calc(var(--index) * 1);
    padding: calc(var(--index) * 1);
  }

  .promocodes button {
    background: linear-gradient(150deg, #0689c2d4, #292587);
    border: 0;
    /* border: 1px solid #2506c2; */
    color: #fff;
    border-radius: calc(var(--index) * 1);
    padding: calc(var(--index) * 0.7);
}

.applied_promocode {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  gap: calc(var(--index) * 1);
}

.applied_promocode p {
  margin: 0;
}

.applied_promocode button {
  background: linear-gradient(150deg, #110f17, #707070d4);
  border: 0;
  color: #fff;
  border-radius: calc(var(--index) * 1);
  padding: calc(var(--index) * 0.7);
}

.user_promocodes {
  padding: calc(var(--index) * 0.7);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

  .basket_total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* background: linear-gradient(to bottom, #030107, #130035, #030107); */
    padding: calc(var(--index) * 2);
    gap: calc(var(--index) * 1);
    color: white;
  }