:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.main-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-second-button {
    padding: calc(var(--index)* 1) calc(var(--index)* 4);
    background-color: white;
    background: linear-gradient(150deg, #110f17, #c20606d4);
    color: white;
    border-style: solid;
    border-radius: calc(var(--index)* 1);
    cursor: pointer;
    border-width: 1px;
    font-size: calc(var(--index) * 1.7);
  }
  
  .my-button:hover {
    background-color: #0056b3 ;
  }