:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}

.main-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.my-second-button {
    padding: calc(var(--index) * 1) calc(var(--index) * 4);
    background-color: white;
    color: black;
    border-style: solid;
    border-color: #fedada;
    border-radius: 5px;
    /* box-shadow: 
        0 0 2px #f4000082, 
        0 0 5px #f4000082, 
        0 0 10px #f4000082, 
        0 0 15px #f4000082; */
    cursor: pointer;
    border-width: 1px;
    font-size: calc(var(--index) * 1.7);
  }
  
  .my-button:hover {
    background-color: #0056b3 ;
  }