.container {
    text-align: center;
    padding: calc(var(--index) * 1);
    background: #030107;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(var(--index) * 2);
    overflow: hidden;
}