.reviews {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: var(--main-padding);
    color: var(--color-text);
    gap: var(--big-gap);
}

.review_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: var(--main-gap);
}

.review_header button {
    background: linear-gradient(150deg, #0689c2d4, #292587);
    border: 0;
    color: #fff;
    border-radius: var(--main-border-radius);
    padding: var(--main-padding) var(--big-padding);
    font-size: var(--medium-font-size);
    font-weight: var(--medium-font-weight);
}

.reviews_list {
    display: flex !important;
    gap: var(--main-gap);
}

.slick-track {
    display: flex;
    gap: var(--main-gap);
}

.loadmore {
    display: flex !important;
    width: 100% !important;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.review_card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: auto;
    color: aliceblue;
    margin: 0 var(--small-margin);
    justify-content: center;
    align-items: center;
    padding: var(--small-padding);
    border-radius: var(--main-border-radius);
    background: linear-gradient(to right bottom, #211F25, #211923);
    width: 100%;
    border: none;
}

.review_main {
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: var(--main-border-radius);
    
}

.review_top {
    padding: var(--main-padding);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    align-items: end;
    font-size: var(--main-font-size);
    border-bottom: 1px solid #d2d2d266;
} 

.edit_button {
    position: absolute;
    right: 0;
    top: 0;
    font-size: var(--medium-font-size);
    color: var(--color-text);
}

.name_time {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
    gap: var(--small-gap);
}

.name_time span {
    color: #666666;
}

.review_body {
    background: linear-gradient(to bottom, transparent, black);
    border-bottom-left-radius: var(--main-border-radius) !important;
    border-bottom-right-radius: var(--main-border-radius) !important;
    display: flex;
    flex-direction: column;
    font-size: var(--medium-font-size);
    width: 100%;
    padding: var(--main-padding);
    justify-content: space-between;
    gap: var(--main-gap);
}

.review_body p {
    margin: 0;
    max-width: 70%;
}

.rev_images {
    display: flex;
    gap: var(--small-gap);
    width: 100%;
}

.rev_img {
    width: 100%;
    height: calc(var(--index) * 5);
    border-radius: var(--small-border-radius);
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.rev_footer {
    overflow-y: auto;
    max-height: calc(var(--index) * 20);
    padding: 0;
    width: 100%;
}