:root {
    --index: calc(1vw + 1vh);
    --transition: transform .75s cubic-bezier(.075, .5, 0, 1);
}


.navbar {
    width: 100%;
    --bs-navbar-padding-x: calc(var(--index) * 0.8);
    background-color:#030107 !important;
}

.navbar-brand img {
    width: calc(var(--index) * 7);
}

.navbar-brand {
    margin-right: 0;
}

.menu {
    display: flex;
    gap: calc(var(--index) * 1);
}

.navbar-toggler {
    border: var(--bs-border-width) solid white;
}

.navbar-toggler:focus {
    box-shadow: none;
    background: radial-gradient(ellipse at center, rgb(0 0 0 / 0%), #00000036);
}

.shopping-cart {
    font-size: calc(var(--index) * 1.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-account {
    font-size: calc(var(--index) * 1.2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {

    .navbar {
        --bs-navbar-padding-y: calc(var(--index) * 0.8);
    }   

    .navbar-brand img {
        width: calc(var(--index) * 10);
    }

    .nav-link {
        padding: calc(var(--index) * 0.7) 0;
        color: rgb(255 255 255 / 90%);
    }

    .shopping-cart {
        font-size: calc(var(--index) * 2);
    }

    .user-account {
        font-size: calc(var(--index) * 2);
    }
}