.photo {
    width: 30%;
}

.photos {
    border-radius: var(--main-border-radius) var(--main-border-radius) ;
    display: block;
    width: 100%;
    height: calc(var(--index) * 20);
    object-fit: cover; /* Масштабирует изображение, заполняя контейнер, сохраняя пропорции */
    object-position: center; /* Центрирует изображение в контейнере */
}

.existingImages {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.addImages {
    padding: var(--main-padding) 0 0;
}

.confirm_btn_container {
    display: flex;
    justify-content: center;
}

.confirm_btn {
    padding: var(--main-padding) calc(var(--index) * 4);
    background: linear-gradient(150deg, #ac57ed, #6b3ce6);
    color: var(--color-text);
    border: 0;
    border-radius: var(--main-border-radius);
    cursor: pointer;
    font-size: var(--medium-font-size);
    font-weight: var(--main-font-weight);
  }