.thing-list {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--index) * 0.6);
    width: 100%;
    justify-content: center;
}

.thing-item-skeleton {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.skeleton-image {
    border-radius: calc(var(--index) * 1);
    background-color: #111111de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
    padding: calc(var(--index) * 1);
}