.thing-list {
    display: flex;
    flex-wrap: wrap;
    padding: calc(var(--index) * 0.6);
    width: 100%;
}

.thing-item-skeleton {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding: calc(var(--index)* 0.5);
  }
  
.skeleton-image {
    border-radius: calc(var(--index)* 1);
    background-color: #111111de;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: calc(var(--index)* 1);
    gap: calc(var(--index)* 1);
}