.sellerAccount {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--main-padding);
    gap: var(--big-gap);
    color: var(--color-text);
    min-height: 100vh;
}

.shop_menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background: var(--menu-background);
    border-radius: var(--main-border-radius);
    padding: var(--main-padding);
}

.shop_name {
    display: flex;
    align-items: center;
    gap: var(--main-gap);
}

.change_info_button {
    background-color: var(--action-button-color);
    border: none;
    color: var(--color-text);
    font-weight: var(--main-font-weight);
    font-size: var(--small-font-size);
    padding: var(--small-padding) var(--main-padding);
    border-radius: var(--small-border-radius);
}

.shop_name_rating {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: var(--main-padding);
}

.shop_info {
    padding-bottom: var(--main-padding);
    border-bottom: 1px solid var(--line-color);
    font-size: var(--medium-font-size) !important;
    font-weight: 400 !important;
}

.shop_rating {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
}

.menu_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: var(--main-margin);
}

.menu_links {
    display: flex;
    flex-direction: column;
    gap: var(--medium-gap);
    height: 80px;
    flex-wrap: wrap;
}

.menu_link {
    display: flex;
    align-items: center;
    gap: var(--small-gap);
    color: var(--color-text);
    text-decoration: none;
    font-weight: 400;
    font-size: var(--main-font-size);
    border: none;
    background-color: transparent;
}

.total_info {
    display: flex;
    flex-direction: column;
    gap: var(--small-gap);
    background-color: var(--info-item-background);
    padding: var(--main-padding);
    border-radius: var(--main-border-radius);
    justify-content: center;
    align-items: center;
}

