.offcanvas.offcanvas-top {
    height: 70vh;
    background: linear-gradient(to bottom, black, #130035cf);
    color: white;
}

.offcanvas-header {
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, black, #000000ab);
}

.offcanvas-header button{
    color: white;
    position: absolute;
    right: 0;
}