.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: calc(var(--index)* 0.2);
    background: linear-gradient(to left, #6b3ce6, #ac57ed, transparent);
    border-radius: calc(var(--index)* 1);
}

.filters-container {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    padding: calc(var(--index)* 0.5);
    border-radius: calc(var(--index)* 1);
    color: white;
    font-size: calc(var(--index) * 1.5);
    background-color: #111111;
    border-right: 1px solid #7f7e7e66;
    box-shadow: 0 0 2px black, 0 0 5px #000000a3, 0 0 10px #000000a3;
    font-size: calc(var(--index) * 1.5);
}

.filters-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    padding: calc(var(--index)* 0.5);
}

.filters-button {
    padding: calc(var(--index)* 0.7);
    background: linear-gradient(150deg, #ac57ed, #6b3ce6);
    color: white;
    border-radius: calc(var(--index)* 1);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(var(--index) * 1.3);
    height: fit-content;
    border: none;
    width: 100%;
    
}

.reset-filters-button {
    background-color: white;
    background: transparent;
    color: white;
    border-radius: calc(var(--index)* 1);
    cursor: pointer;
    border: none;
    font-size: calc(var(--index)* 1.1);
    width: 100%;
    text-decoration: underline;
    margin-top: calc(var(--index)* 0.5);
}

.filters-button:hover {
    background: #ac57ed;
}

.offcanvas.offcanvas-top {
    height: 70vh;
    background: radial-gradient(ellipse at right top, #1c051e, black, #1a0734);
    color: white;
    border-bottom-left-radius: calc(var(--index)* 1.5);
    border-bottom-right-radius: calc(var(--index)* 1.5);
}

.offcanvas-header {
    display: flex;
    justify-content: center;
}

.offcanvas-header button{
    color: white;
    position: absolute;
    right: 0;
}

