.content h1 {
    text-align: center;
    padding: 0 calc(var(--index) * 4);
}

.terms-of-service-content {
    display: flex;
    flex-direction: column;
    gap: var(--big-gap);
}

.terms-of-service-content-eng {
    display: flex;
    flex-direction: column;
    font-size: var(--medium-font-size);
}

.terms-of-service-content-eng h3 {
    margin-bottom: var(--medium-margin);
}

.terms-of-service-content-rus {
    display: flex;
    flex-direction: column;
    font-size: var(--medium-font-size);
}

.terms-of-service-content-rus h3 {
    margin-bottom: var(--medium-margin);
}

.terms-of-service-content-rus h2 {
    font-size: var(--title-font-size);
    text-align: center;
    margin-bottom: var(--big-margin);
}
