/* src/components/ExpandableText/ExpandableText.module.css */

.container {
    position: relative;
}

.text {
    overflow: hidden;
    transition: max-height 0.5s ease;
    white-space: pre-wrap; /* Сохраняет переносы строк */
}

.expanded {
    /* Дополнительные стили при раскрытом тексте, если необходимо */
}

.toggleButton {
    margin-top: 10px;
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    font-size: 14px;
}

.toggleButton:hover {
    text-decoration: underline;
}
