.thing_content {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
}

.topic {
    font-size: calc(var(--index) * 5);
    color: var(--color-text);
}

.topic_back {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--main-margin);
}

.main_model {
    width: 100%;
    padding: 0 var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text);
}

.description {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--medium-font-size);
    margin: 0 var(--main-padding) var(--main-padding) var(--main-padding);
    gap: var(--smallest-gap);
    background: linear-gradient(to right bottom, #262028, #211F25, #27162b);
    color: var(--color-text);
    border-radius: 0 0 var(--main-border-radius) var(--main-border-radius);
    text-align: center;
    padding: var(--smallest-padding);
}

.brands_n_type {
    display: flex;
    padding: var(--main-padding) var(--small-padding);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    align-items: center;
}


.type {
    font-weight: 500;
}


.type_item {
    display: flex;
    width: 50%;
    flex-direction: column;
    gap: calc(var(--index)* 1);
    justify-content: center;
    align-items: center;
    padding: calc(var(--index)* 1);
    border-left: 1px solid #7f7e7e66;
}