:root {
  --index: calc(1vw + 1vh);
  width: 100vw;
  
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  max-width: 100vw;
  background-color: #030107 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


iframe {
  display: none;
}

.ant-select .ant-select-selection-placeholder {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
  color: rgba(255, 255, 255, 0.562);
  pointer-events: none;
}

.ant-select-filled:not(.ant-select-customize-input) .ant-select-selector {
  background: #151515;
  border: 1px solid transparent;
  color: rgba(255, 255, 255, 0.562);
  text-align: center;
}

.ant-select-single .ant-select-selector {
  border-radius: calc(var(--index) * 1);
}

.ant-select-focused .ant-select-single .ant-select-allow-clear .ant-select-show-search {
  color: black;
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
  padding-inline-end: 0;
}

.ant-select-show-search .ant-select:not(.ant-select-customize-input) .ant-select-selector input {
  display: flex;
  color: rgb(255 255 255 / 74%);
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  background: #6e6e6e66;
  border: 0;
  color: rgb(255 255 255 / 74%);
  text-align: center;
  font-size: calc(var(--index) * 1.2);
}

.ant-select:hover .ant-select-clear {
  opacity: 1;
  background: #fff0;
  color: rgb(255 255 255 / 74%);
}

b, strong {
  font-weight: bold;
}

.ant-skeleton.ant-skeleton-element {
  display: flex;
  width: 100%;
}

.ant-form-item .ant-form-item-label >label {
  position: relative;
  display: inline-flex;
  align-items: center;
  max-width: 100%;
  height: 32px;
  color: rgb(255 255 255 / 88%);
  font-size: 14px;
}

.ant-form {
  padding: calc(var(--index) * 1);
  background-color: #211F25;
  border-radius: calc(var(--index)* 1);
}

.ant-form-item {
  margin-bottom: calc(var(--index) * 1);
}

.ant-drawer .ant-drawer-content {
  background-color: #030107;
  color: #fff;
  border-top-left-radius: calc(var(--index) * 1);
  border-bottom-left-radius: calc(var(--index) * 1);
  margin-right: calc(var(--index) * 5);
}

.ant-drawer .ant-drawer-close {
  color: rgb(255 255 255 / 45%);
}

.ant-drawer-header {
  padding: calc(var(--index) * 2) calc(var(--index) * 2) 0 !important;
}

.ant-drawer-body {
  padding: calc(var(--index) * 2) !important;
}

.ant-tag {
  font-size: calc(var(--index) * 1) !important;
}

.ant-tag.ant-tag-blue {
  color: #0458fe;
  background: #008dff21;
  border-color: #008dff21;
}

.ant-tag.ant-tag-green {
  color: #37b800;
  background: #7efc0021;
  border-color: #7efc0021;
}

.ant-tag.ant-tag-red {
  color: #da0818;
  background: #ff110021;
  border-color: #ff110021;
}

.ant-collapse {
  border: 1px solid #d2d2d266;
  margin: calc(var(--index)* 2);
  line-height: 1.78;
  width: 90%;
}

.ant-collapse>.ant-collapse-item >.ant-collapse-header {
  color: #fff;
}

.ant-collapse>.ant-collapse-item {
  border-bottom: 1px solid #d2d2d266;
}

.ant-collapse .ant-collapse-content {
  color: white;
  background: linear-gradient(to right bottom, #25032C, #211F25);
  border-top: 1px solid #d2d2d266;
}

.ant-collapse .ant-collapse-content>.ant-collapse-content-box {
  padding: 12px 16px;
  font-size: calc(var(--index) * 1.2);
}

.ant-card .ant-card-body {
  padding: 0; 
  width: 100%;
}


.ant-modal .ant-modal-content {
  position: relative;
  background-color: #211F25;
  background-clip: padding-box;
  border: 0;
  border-radius: calc(var(--index) * 1);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  pointer-events: auto;
  padding: 20px 24px;
}

.ant-modal .ant-modal-header {
  background: transparent;
  margin-bottom: 8px;
  padding: 0;
  border-bottom: none;
}

.ant-modal .ant-modal-title {
  margin: 0;
  color: rgb(255 255 255 / 88%);
  font-weight: 600;
  font-size: calc(var(--index) * 2);
  display: flex;
    justify-content: center;
}

.ant-modal .ant-modal-close {
  color: rgb(255 255 255 / 88%);
}

.ant-modal .ant-modal-footer {
  text-align: center;
  margin-top: 0;
}

.ant-btn-primary {
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
  background: linear-gradient(150deg, #0689c2d4, #292587);
  border: 0;
  color: #fff;
  border-radius: calc(var(--index)* 0.7);
  padding: calc(var(--index)* 0.7) calc(var(--index)* 2);
  min-width: calc(var(--index)* 8);
}

.ant-btn-dangerous {
  background: linear-gradient(150deg, #eb1506cf, #740c04) !important;
  border: 0;
  color: #fff;
  border-radius: calc(var(--index)* 0.7);
  font-size: calc(var(--index) * 1.3);
  padding: calc(var(--index)* 0.7) calc(var(--index)* 2);
  min-width: calc(var(--index)* 8);
}

.ant-btn-default {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  background: linear-gradient(150deg, #2e2c33, #707070d4);
  border: 0;
  color: #fff;
  border-radius: calc(var(--index)* 0.7);
  padding: calc(var(--index)* 0.7) calc(var(--index)* 2);
  min-width: calc(var(--index)* 8);
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;
}

.slick-next:before {
  color: #00000000;
}

.ant-checkbox-wrapper {
  color: white;
  gap: calc(var(--index) * 0.5);
}