.price-slider {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.min-max {
    background: var(--menu-background);
    color: white;
    padding: calc(var(--index) * 0.6);
    border-radius: var(--small-border-radius);
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--small-gap);
    justify-content: center;
    align-items: center;
}

.price-slider .rc-slider {
    width: 100%;
    margin: var(--main-margin) 0;
}

.price-slider .rc-slider-track {
    background: linear-gradient(to right, #ac57ed, #6b3ce6);
}

.price-slider .rc-slider-handle {
    border: 2px solid #5800f4;
    width: 20px;
    height: 20px;
    margin-top: -9px;
    background-color: var(--color-text);
}

.slider-container {
    position: relative;
    padding-top: calc(var(--index) * 3);
    margin: 0 var(--big-margin);
}

.price-label {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    background: var(--info-item-background);
    padding: var(--small-padding) var(--main-padding); 
    border-radius: var(--small-border-radius);
    font-size: var(--medium-font-size);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    white-space: nowrap;
}
